@using TestCoreMVC.Models.Entities;
@model EmployeeList
<div class="text-center">
    <h1 class="display-4">@ViewData["Message"]</h1>
    <table>
        <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Branch</th>
            <th>Section</th>
            <th>Experience</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>View</th>
        </tr>
        @foreach (var employee in @Model.employeeList)
        {
            <tr>
                <th>@employee.EmployeeId</th>
                <th>@employee.Name</th>
                <th>@employee.Branch</th>
                <th>@employee.Section</th>
                <th>@employee.Experience</th>
                <th><a href="/Employee/Edit/@employee.EmployeeId">Edit</a></th>
                <th><a href="/Employee/Delete/@employee.EmployeeId">Delete</a></th>
                <th><a href="/Employee/View/@employee.EmployeeId">View</a></th>
            </tr>
        }
    </table>
    <div><a href="/Employee/Add">Add</a></div>
</div>
